

{% extends "base.html" %}
{% block title %}Earn{% endblock %}
{% block styles %}
    .btn-primary {
        font-size: 1rem;
        font-weight: bold;
        margin-top: 10px;
    }
{% endblock %}

{% block content %}
    <h1>Enter Code and Upload Receipt</h1>

    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.predefined_code.label(class="form-label") }}
            {{ form.predefined_code(class="form-select") }}
        </div>
    
        <div class="mb-3" id="custom-code-section" style="display: none;">
            {{ form.code.label(class="form-label") }}
            {{ form.code(class="form-control") }}
        </div>
        <div>
            {{ form.receipt.label }}
            {{ form.receipt(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
    </form>

<script>
    document.getElementById('predefined_code').addEventListener('change', function() {
        const customCodeSection = document.getElementById('custom-code-section');
        customCodeSection.style.display = this.value === 'OTHER' ? 'block' : 'none';
    });
</script>
{% endblock %}

